.container {
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    padding-top: 46px;
    justify-content: center;
}

.fixed {
    position: fixed;
    top: 0;
    border-bottom: 1px solid #585858;
    width: 100%;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-around;

    background: #f4fff9;
    z-index: 1;
}
